/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main-body {
  background-image: url("https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60"),
    url("https://images.unsplash.com/photo-1549192309-b5b9ecf012e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80"),
    url("https://images.unsplash.com/photo-1523911355839-ae7508262a3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1958&q=80");
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: 100vw auto;
  background-color: #89a5b3;
  height: 100vh;
  /* background-size: cover; */
}

.navbar-container {
  background-color: #283e4a;
  border: 10px soild red;
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* border: 10px solid orange; */

  list-style-type: none;
  opacity: 0.9;
  filter: alpha(opacity=50);
}
.flex-container:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.event-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style-type: none;
  justify-content: center;
}

.event-item {
  justify-content: center;
  width: 20vw;
}

.event-one {
  /* border: 1px solid rebeccapurple; */
  display: flex;
  background-color: #241c6d63;
  margin-top: 20px;
  flex-direction: column;
}
.event-two {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rebeccapurple; */
  background-color: #8b0c3d75;
  margin-top: 20px;
}

.authenticated-header {
  /* margin-top: -10px; */
  /* width: 50%; */
  /* padding-top: 10vh; */
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  list-style-type: none;
}

.sign-up {
  width: 50vw;
  height: 50vw;
  margin: auto;
  text-align: center;
  color: black;
  font-size: 1.2em;
  text-shadow: 1px 0.1px 0.1px black;
  padding-top: 11vh;
}

.edit {
  width: 50vw;
  height: 50vw;
  margin: auto;
  text-align: center;
  color: black;
  font-size: 1.2em;
  text-shadow: 1px 0.1px 0.1px black;
  padding-top: 10vh;
}
.form-group {
  color: black;
}

.navbar {
  background-color: #283e4a;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  opacity: 0.9;
}



 .navbar a {
  color: white !important;
  font-size: 22px;
}

.buttn {
  display: block;
  background-color: black;
  font-weight: bold;
}
section {
  width: 100%;
  height: 50vh;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  border: 0.1px dotted;
}

section:nth-of-type(1) {
  background-image: url("https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60");
}

section:nth-of-type(2) {
  background-image: url("https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60");
}

.auth-image {
  background-image: url("https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=60");
  background-repeat: repeat;
  width: 100%;
  /* height: 700px; */
}

.auth-image-choices {
  background-image: url("https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&auto=format&fit=crop&w=2200&q=60");
  background-repeat:no-repeat;
  /* background-size:contain; */
  background-position:center;
  height: 1487px;

.insideStyle {
  background: rgba(255, 255, 255, 0.7);
  position: relative;
  padding: 2vh;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  color: black;
}

.loginSignUp {
  font-weight: bold;
  font-size: 35px;
  text-shadow: 2px 2px 4px grey;

}

.choice-card {
  width: 18vw;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  height:
}

.test {
height: 500px;

}



* {
  /* box-sizing: border-box; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  /* border: 1px solid green; */
  padding: 5px;
  /* background-color: #ebecb3; */
}
.message-sent {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* border: 1px solid red; */
}

.message-sent-item {
  background-color: #d9edf7;
  border-color: #bce8f1;
  margin: 5px 20px;
  padding: 10px;
  /* border: 1px solid blue; */
}
.message-received {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* border: 1px solid orange; */
}
.message-received-item {
  background-color: #f1f0f0;
  border-color: #eeeeee;
  margin: 5px 20px;
  padding: 10px;
  /* border: 1px solid green; */
}

.chatroom-body {
  padding: 2vh;
}

ul {
  padding-left: 5px;
  list-style: none;
}

.card-default {
  background-color: dimgray;
  border: 1px solid red;
}
