// Place all the styles related to the Choices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .choice-card {
//   width: 18vw;
//   background: rgba(255,255,255,.9);
// }
